## Today Content
- Dictionaries
- Sets

### Dictionary 
- Stores the collection of various types of data
- Dictionary have pair of keys and values seperated with " : "
    - { }

In [1]:
# Create a dictionary
dict1 = {}# Empty dictionary
dict2 = {'key1' : 'value1', 2 : 220, 'key': 24}
dict3 = dict({'key1' : 'value1', 2 : 220, 'key': 24})

In [2]:
type(dict2), type(dict3)

(dict, dict)

In [3]:
# Accessing values
list1 = [10,22,'a',20.8]
list1[1]

22

In [4]:
dict3['key1']# Keys are act as index of values
# Keys should be unique

'value1'

In [5]:
dict4 = {'key1' : 'value1', 2 : 220, 'key': 24,'key1':'value2'}
dict4

{'key1': 'value2', 2: 220, 'key': 24}

In [6]:
dict4[200] = 222

In [7]:
dict4

{'key1': 'value2', 2: 220, 'key': 24, 200: 222}

## Nested Dictionary
- Dictionary of List
- List of Dictionary
- Dictionary of Dictionary

In [9]:
# Dictionary of List
dict5 = {'names':['Niharika','Lavanya','Nagamounika'],
         'team':['DataScience','MachineLearning','DataAnalysis'], 
         'id':[111,121,131]}
dict5

{'names': ['Niharika', 'Lavanya', 'Nagamounika'],
 'team': ['DataScience', 'MachineLearning', 'DataAnalysis'],
 'id': [111, 121, 131]}

In [11]:
dict5['team'],type(dict5['team'])

(['DataScience', 'MachineLearning', 'DataAnalysis'], list)

In [12]:
dict5['team'][1]

'MachineLearning'

In [13]:
# List of Dictionary
# index-->  [          0                               1                         2                   ]

list_dict4 = [{'name1':'Harshitha','id':1234},{'name2':'Sai','id2':3232},{'name3':'Akshay','id':2726}]
# Output --> 3232

In [16]:
list_dict4[1],type(list_dict4[1])

({'name2': 'Sai', 'id2': 3232}, dict)

In [17]:
list_dict4[1]['id2']

3232

In [18]:
# Dict of dict
dict6 = {'Masoon':{'branch':'cse','id':1211}}

In [20]:
print(dir(dict))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [21]:
dict4

{'key1': 'value2', 2: 220, 'key': 24, 200: 222}

In [22]:
dict4.keys()

dict_keys(['key1', 2, 'key', 200])

In [23]:
dict4.values()

dict_values(['value2', 220, 24, 222])

In [24]:
dict4.items()

dict_items([('key1', 'value2'), (2, 220), ('key', 24), (200, 222)])

In [25]:
for i in dict4:
    print(i)

key1
2
key
200

In [26]:
for k,v in dict4.items():
    print(v)

value2
220
24
222

- get():
- update():

In [27]:
dict4[200]# wiout using method

222

In [28]:
dict4.get(200)# using method

222

In [29]:
print(dict4)
dict4.update({100:10000})
print(dict4)

{'key1': 'value2', 2: 220, 'key': 24, 200: 222}
{'key1': 'value2', 2: 220, 'key': 24, 200: 222, 100: 10000}

- popitem(): Removes last pair in dict
- pop(): Removes the value with particular key

In [30]:
dict4.popitem()

(100, 10000)

In [31]:
dict4

{'key1': 'value2', 2: 220, 'key': 24, 200: 222}

In [32]:
dict4.pop('key1')

'value2'

In [33]:
dict4

{2: 220, 'key': 24, 200: 222}

- setdefault()
    - It can add new item() if given key is not available

In [34]:
dict4

{2: 220, 'key': 24, 200: 222}

In [35]:
dict4.setdefault(300,'b')

'b'

In [36]:
dict4

{2: 220, 'key': 24, 200: 222, 300: 'b'}

In [37]:
dict4.setdefault(300,30)

'b'

In [38]:
dict4

{2: 220, 'key': 24, 200: 222, 300: 'b'}

In [39]:
## Merge two or more dictionaries
d1 = {'names':'mani','branch':'cse','sports':'cricket'}
d2 = {'names':'mani','branch2':'it','sports':'football'}
d3 = {'names3':'Thanvitha','branch3':'mech','sports3':'basketball'}

# O/p -> d4 = {}

In [43]:
l1 = [d1,d2,d3]
d4 = {}

for i in l1:
    #print(type(i))
    for k,v in i.items():
        d4[k] = v

In [44]:
d4

{'names': 'mani',
 'branch': 'cse',
 'sports': 'football',
 'branch2': 'it',
 'names3': 'Thanvitha',
 'branch3': 'mech',
 'sports3': 'basketball'}

In [41]:
d5 = {}
d5['k1'] = 'v1'

In [42]:
d5

{'k1': 'v1'}

### Sets
- Set is unorderd and unindexed collection of items.
    - Unordered: We are not sure which order the items will be
    - Unindexing: Set dosent have index
    
- {value1, value2,.... }

In [46]:
# Create a set

set1 = {10,'a',10.11,233}
set2 = {}# empty dict
set3 = set()# empty set
type(set2), type(set3)

(dict, set)

In [47]:
set1 = {10,'a',10.11,233,1, 2000, 92912,987}
set1 ## Sets are unordered

{1, 10, 10.11, 2000, 233, 92912, 987, 'a'}

In [48]:
list1 = [100,200,300]
list1[2]

300

In [49]:
set1[2]# Unindexed

TypeError: 'set' object is not subscriptable

In [50]:
set4 = {11,'a','a',11,121,121,123}
set4# duplicate values are not allowed in sets

{11, 121, 123, 'a'}

### Methods

In [51]:
print(dir(set))

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

- add() and update()

In [52]:
set5 = {10,11,12}

In [53]:
set5.add('DataAnalysis')

In [54]:
set5

{10, 11, 12, 'DataAnalysis'}

In [55]:
set5.update(['ML','AI'])

In [56]:
set5

{10, 11, 12, 'AI', 'DataAnalysis', 'ML'}

In [57]:
set5.add(['12',20])

TypeError: unhashable type: 'list'

In [58]:
set5

{10, 11, 12, 'AI', 'DataAnalysis', 'ML'}

- pop() and remove()

In [59]:
set5.pop()

'DataAnalysis'

In [60]:
set5

{10, 11, 12, 'AI', 'ML'}

In [62]:
set5.remove(12)

In [63]:
set5

{10, 11, 'AI', 'ML'}

- **Mathametical methods**


- Union(): can merge two sets
- intersection(): returns common elements in two sets

In [72]:
set6 = {1,2,3,4,5}
set7 = {4,5,6,7,8}

In [65]:
set6.union(set7)

{1, 2, 3, 4, 5, 6, 7, 8}

In [66]:
set6.intersection(set7)

{4, 5}

In [67]:
set6

{1, 2, 3, 4, 5}

In [73]:
print(set6)
print('intersection values',set6.intersection(set7))

print('Before applying update',set6)
print('intersection_update values',set6.intersection_update(set7))
print('After applying update',set6)

{1, 2, 3, 4, 5}
intersection values {4, 5}
Before applying update {1, 2, 3, 4, 5}
intersection_update values None
After applying update {4, 5}

- difference(), difference_update() and symmetric_diiference()

In [74]:
set6 = {1,2,3,4,5}
set7 = {4,5,6,7,8}

In [75]:
set6.difference(set7)

{1, 2, 3}

In [76]:
set6

{1, 2, 3, 4, 5}

In [77]:
set6.difference_update(set7)

In [78]:
set6

{1, 2, 3}

In [79]:
set6 = {1,2,3,4,5}
set7 = {4,5,6,7,8}

In [80]:
set6.symmetric_difference(set7)

{1, 2, 3, 6, 7, 8}

- issubset() and issuperset()

In [81]:
set8 = {2,4,6}
set9 = {1,2,3,4,5,6}

In [82]:
set8.issubset(set9)

True

In [83]:
set9.issubset(set8)

False

- issuperset() will works exactly opposite to issubset()