## Topics
- Regular Expressions

### Regular Expressions
- It in a programm is used to for describing a search pattern
- **syntax:* import re 

#### Methods 
- re.findall()
    - re.findall(pattern, data)
- re.search()
- re.match()
- re.sub()

In [1]:
import re

In [2]:
# [ ] : Can insert numbers, char, or alphanumeric
    ## [a-z], [A_Z], [0-9], [0-9a-z]
    
    
# \   : Special Sequence 
    ## \d : Any digit
    ## \D : non-digits
    ## \s : Whitespace
    ## \S : Removes space
    ## \w : alphanumeric
    ## \W : special characters (@#$!...)

In [3]:
string1 = '''India on Monday reported 70421 new Covid-19 infections over the past 24 hours, 
            the lowest since April 1, data from the health ministry showed. 30 mins ago'''
string1

'India on Monday reported 70421 new Covid-19 infections over the past 24 hours, \n            the lowest since April 1, data from the health ministry showed. 30 mins ago'

In [4]:
# Write a pattern to find the small letters between a and i.
s1 = re.findall('[a-i]',string1)
print(s1)

['d', 'i', 'a', 'd', 'a', 'e', 'e', 'd', 'e', 'i', 'd', 'i', 'f', 'e', 'c', 'i', 'e', 'h', 'e', 'a', 'h', 'h', 'e', 'e', 'i', 'c', 'e', 'i', 'd', 'a', 'a', 'f', 'h', 'e', 'h', 'e', 'a', 'h', 'i', 'i', 'h', 'e', 'd', 'i', 'a', 'g']

In [6]:
print(re.findall('[0-9]',string1))
print(re.findall('\d',string1))

['7', '0', '4', '2', '1', '1', '9', '2', '4', '1', '3', '0']
['7', '0', '4', '2', '1', '1', '9', '2', '4', '1', '3', '0']

In [11]:
string2 = "Data Science Internship @ SRM University !!!!"
print(re.findall('\w',string2))
print(re.findall('\W',string2))

['D', 'a', 't', 'a', 'S', 'c', 'i', 'e', 'n', 'c', 'e', 'I', 'n', 't', 'e', 'r', 'n', 's', 'h', 'i', 'p', 'S', 'R', 'M', 'U', 'n', 'i', 'v', 'e', 'r', 's', 'i', 't', 'y']
[' ', ' ', ' ', '@', ' ', ' ', ' ', '!', '!', '!', '!']

In [12]:
string1

'India on Monday reported 70421 new Covid-19 infections over the past 24 hours, \n            the lowest since April 1, data from the health ministry showed. 30 mins ago'

In [13]:
# Find 39Ci in string1
print(re.findall('[39Ci]',string1))

['i', 'C', 'i', '9', 'i', 'i', 'i', 'i', 'i', 'i', '3', 'i']

In [14]:
# ^(caret) : Starts with
# $        : Ends with

In [17]:
string3 = 'Machine Learning'
# Check string3 is starts with "Mac"
re.search('^Mac',string3)

In [18]:
re.search('^Mnc',string3)

In [19]:
if re.search('^Mac',string3):
    print('Yes')
else:
    print('No')

Yes

In [20]:
re.search('g$',string3) # Not $value

In [25]:
list1 = ['AP19110010016', 'AP19110010521','AP19110010504','TS19110010090','TS19110010504']

#### Write a pattern, to find and display all the roll numbers which is starts with "AP"

In [26]:
for i in list1:
    if re.search('^AP',i):
        print(i)

AP19110010016
AP19110010521
AP19110010504

In [27]:
## . : Unknown Char

In [28]:
string4 = 'SRMUniversity'
re.findall('S...',string4)

['SRMU']

In [36]:
names = ['Manish','SundarYadav','Sai']
for stu in names:
    if re.findall('S..', stu):
        print(stu)

SundarYadav
Sai

In [37]:
## { } : Exactly specific no of occurance

In [38]:
re.findall('[0-9]{4}','5432109')

['5432']

#### Task 1: Write a pattern to display 4 digit numbers from list1

In [39]:
list1 = [5841, 987654321, 453267, 1234, 675, 8797]

#### Task 2: Validate a phone number using patterns. Try to do this task using below pattern or your own pattern
- '[6-9]{1}[0-9]{9}$'

In [40]:
# Validate a phone number using patterns
ph_list = [9876543210, 8123456789, 7890123456, 789654, 1234567890]

- re.sub('value','replaced_string', data)

In [42]:
re.sub('a','*','naagaamounika')

'n**g**mounik*'