## Today Content
- Conditional Statements
- Iterations
- Break and Continue

### Conditional Statements
- if statement
- if...else
- elif statement
- Nested if...else

#### If and If....else
- **Syntax:**

- if condition:
     - statement 1
     - statement 2
     - ...
     - statement n

In [2]:
# If statement
if 23 % 2 == 0:
    print('even number')

In [8]:
# if...else statement
a = 24
if a % 2 != 0 :
    print(a)
    print(a,'Odd number')
else:
    print(a)# statement 1
    print(a,'Even number') # statement 2

24
24 Even number

In [7]:
if 23 % 2 == 0:
print('even number')

IndentationError: expected an indented block (<ipython-input-7-e36b46eec5a7>, line 2)

### Elif Statement

In [10]:
# email1 = 'students@srm.edu.in'
# email2 = 'trainers@apssdc.in'
# email3 = 'persons@gmail.com'

email = input('Enter email id : ')

if 'srm.edu.in' in email:
    print(email, 'Belongs to SRM University')
elif 'apssdc.in' in email:
    print(email, 'belongs to APSSDC')
else:
    print(email, 'Belongs to gmail.com or yahoo .com....')

Enter email id : persons@yahoo.com
persons@yahoo.com Belongs to gmail.com or yahoo .com....

## Task1
- Take last 3 values of roll number(AP19110010016)
    - If value is startswith "01" --> 'Cse Dept'
    - elif value is startwith "11" --> 'It Dept'
    - elif values is startswith "21" --> 'ECE dept'
    - else not an SRM student

In [12]:
string1 = 'AP19110010016'
string1[-3:]

'016'

In [14]:
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [16]:
string1[-3:].startswith('11')

False

## Iterations
- To execute sequence of instructions for multiple times.
    - for loop
    - while loop

In [17]:
# In c Language

# for(initialize;  condition;  ++/--)
#    {
#    print(statement)
#    }

- **syntax:**
    - for iterative_variable in SequenceOfData :
        - statement 1
        - ...
        - satemente n

In [19]:
range(10)# 10 is exclusive

range(0, 10)

In [20]:
for itr_var in range(10):# itr_var = 0
    # 10 --> excluded
    print(itr_var)

0
1
2
3
4
5
6
7
8
9

In [21]:
# initialize --> itr_var = 0
# condition --> 0 < 10
###  prints statetement if condition satisfied
# ++ --> 0 = 0 + 1

In [23]:
for itr_var in range(10):# itr_var = 0
    print(itr_var, end = '\t')

0	1	2	3	4	5	6	7	8	9

In [24]:
for i in range(0, 15, 3):
    print(i,end = ' ')

0 3 6 9 12

In [25]:
# Print a multiplication table for the number given by the user
## 2 x 1 = 2
## 2 x 2 = 4
## .......
## .......
## 2 x 10 = 20

In [28]:
number = int(input())

for i in range(1,11):
    print(number, 'x', i, '=', number * i)

6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

## Task 2
- Find all leap years between 1800 to 2020

In [30]:
for year in range(1800, 2021):
    if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
        print(year, end = '\t')

1804	1808	1812	1816	1820	1824	1828	1832	1836	1840	1844	1848	1852	1856	1860	1864	1868	1872	1876	1880	1884	1888	1892	1896	1904	1908	1912	1916	1920	1924	1928	1932	1936	1940	1944	1948	1952	1956	1960	1964	1968	1972	1976	1980	1984	1988	1992	1996	2000	2004	2008	2012	2016	2020

In [31]:
1800 % 100
1900 % 100 == 0

True

In [35]:
# Count no of upper acse letters , lower case tetters, numbers and special chars
string1 = 'Apssdc @ 2021 '
d = 0
u = 0
l = 0
s = 0


for i in string1:
    if i.isdigit():
        d = d + 1
    elif i.isupper():
        u = u + 1
    elif i.islower():
        l = l + 1
    else:
        s = s + 1

In [38]:
print('Count of digits:', d)
print('Count of upper case:', u)
print('Count of lower case:', l)
print('Count of special char:', s)

Count of digits: 4
Count of upper case: 1
Count of lower case: 5
Count of special char: 4

In [34]:
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

### While loop
- **syntax:**

- initialize_var
- while condition :
    - statement 1
    - ......
    - statement n
    - ++/--

In [40]:
var = 1
while(var <= 10):
    print(var)
    var = var + 1

1
2
3
4
5
6
7
8
9
10

### Break an Continue

In [41]:
# Break statement
string2 = 'Data Science'

for i in range(len(string2)):
    if string2[i] == 'c':
        break
    else:
        print(string2[i])

D
a
t
a

S

In [42]:
number = 6

while number > 0:
    number = number - 1
    if number == 2:
        break
    print(number)

5
4
3

In [47]:
# Continue Statement
string3 = 'Data Science'

for i in range(len(string3)):
    if string3[i] == 'c':
        continue
    else:
        print(string3[i])

D
a
t
a

S
i
e
n
e