![](logo.png)

# Day Objectives

![List-Operations-in-Python.png](List-Operations-in-Python.png)

***Data Structures***
- Data structures refer to the collection or group of data in a particular structure.

## List

Lists are the most commonly used data structure. Think of it as a sequence of data that is enclosed in square brackets and data are separated by a comma. Each of these data can be accessed by calling it's index value.

Lists are declared by just equating a variable to '[ ]' or list. We can use lists to hold an ordered sequence of values.

It holds different types of variables in the same list

Lists are mutable, their contents can change as more statements are interpreted.
 
### Methods

| Method Name | Use | Explanation |
|----|---|--|
| append | alist.append(item) | Adds a new item to the end of a list |
| insert	| alist.insert(i,item) |	Inserts an item at the ith position in a list |
|pop	|alist.pop()	|Removes and returns the last item in a list|
|sort|	alist.sort()|	Modifies a list to be sorted|
|reverse|	alist.reverse()|	Modifies a list to be in reverse order|
|del|	del alist[i]|	Deletes the item in the ith position|
|index|	alist.index(item)|	Returns the index of the first occurrence of item|
|count|	alist.count(item)|	Returns the number of occurrences of item|
|remove|	alist.remove(item)|	Removes the first occurrence of item|

# Task:

- Write a Python program to sum all the items in a list.
- Write a Python program to convert a list of characters into a string
- program to put even and odd elements in a list into two different lists
- Write a Python program to remove duplicates from a list
- Write a Python program to check a list is empty or not.
- Write a Python program to print a specified list after removing the 0th, 4th and 5th elements.
- **Write a Python  that takes two lists and returns True if they have at least one common member.**

# Tuples
- A tuple is a collection which is ordered and unchangeable.
- Tuples are written with round brackets ()
- Allow duplicate values
- Pack : Assign values to it
- Unpack : To extract the values back into variables

| Method	| Description |
| -- | -- |
| count()	| Returns the number of times a specified value occurs in a tuple| 
| index()	| Searches the tuple for a specified value and returns the position of where it was found

# List

In [1]:
# list Initialization

In [2]:
li = []
type(li)

list

In [3]:
li = list()
type(li)

list

In [5]:
l1 = [1,2,3,8,4,6,5]
print(l1)
type(l1)

[1, 2, 3, 8, 4, 6, 5]

list

In [8]:
l2 = [1,2,3.3,443.34,"strings",88j, [1,2,3j,"hi"]]
l2

[1, 2, 3.3, 443.34, 'strings', 88j, [1, 2, 3j, 'hi']]

## List Indexing
## List Slicing
- may be accessing one element in a time is indexing but in slicing we have a chunk of it
- Indexing means to get a element at a particular index. Slicing is to get elements from a starting index to ending index

In [9]:
l2[2]

3.3

In [10]:
l2[5]

88j

In [12]:
l2[-1]

[1, 2, 3j, 'hi']

In [13]:
l2[-2]

88j

In [14]:
l2

[1, 2, 3.3, 443.34, 'strings', 88j, [1, 2, 3j, 'hi']]

In [15]:
# access 3j from l2 list
l2[-1][2]

3j

In [16]:
l2[-1][-2] # negative indexing

3j

In [18]:
# access 1 in sub list in l2
l2[-1][-4]

1

In [21]:
# access hi,3j 
l2[-1][-2:]

[3j, 'hi']

In [23]:
l2

[1, 2, 3.3, 443.34, 'strings', 88j, [1, 2, 3j, 'hi']]

In [24]:
l2[-1:-3:-1]

[[1, 2, 3j, 'hi'], 88j]

In [25]:
l2[-1][-1:-3:-1]

['hi', 3j]

In [27]:
# even index position elements
# start value deafult value 0
# end value default value is 1
l2[::2]

[1, 3.3, 'strings', [1, 2, 3j, 'hi']]

In [28]:
# reverse of my list
l2[::-1]

[[1, 2, 3j, 'hi'], 88j, 'strings', 443.34, 3.3, 2, 1]

In [29]:
# odd index position elements
l2[1::2]

[2, 443.34, 88j]

In [31]:
# access middle value
l2[len(l2)//2]

443.34

In [32]:
l3 = [13,34,45,65,67,78,8]

In [33]:
sum(l3)

310

In [34]:
min(l3)

8

In [35]:
max(l3)

78

In [36]:
len(l3)

7

In [37]:
# finding avarage of l3
sum(l3)/len(l3)

44.285714285714285

# Methods

In [38]:
l4 = [12,3,34.45,"apssdc"]

In [39]:
# Append - adding new data to already exiting data, new data is added at the end of the list
l4.append("sai Aakash")

In [40]:
l4

[12, 3, 34.45, 'apssdc', 'sai Aakash']

In [42]:
l3

[13, 34, 45, 65, 67, 78, 8]

In [43]:
l3.clear()

In [44]:
l3

[]

In [45]:
del l3

In [46]:
l3

NameError: name 'l3' is not defined

In [50]:
# copy - we can store the data in another location,
# to Duplicate
# it takes less time 

l5 = l4.copy()
print(l4)
l5

[12, 3, 34.45, 'apssdc', 'sai Aakash']

[12, 3, 34.45, 'apssdc', 'sai Aakash']

In [48]:
id(l4)

1781328242688

In [49]:
id(l5)

1781360335232

In [52]:
# Count -  it counts the no. of occurences of the sub data in the given data
l4.count("apssdc")

1

In [53]:
corona_test = ["+ve","-ve","+ve","-ve","+ve","+ve","-ve","-ve","+ve","+ve","-ve","+ve","-ve"]

In [54]:
corona_test.count("+ve")

7

In [55]:
len(corona_test)

13

In [56]:
# Extend - merge/ added lists as an elements
l4.extend(corona_test)

In [57]:
l4

[12,
 3,
 34.45,
 'apssdc',
 'sai Aakash',
 '+ve',
 '-ve',
 '+ve',
 '-ve',
 '+ve',
 '+ve',
 '-ve',
 '-ve',
 '+ve',
 '+ve',
 '-ve',
 '+ve',
 '-ve']

In [60]:
l5.append(corona_test) # adding list as a list to already existing list

In [59]:
l5

[12,
 3,
 34.45,
 'apssdc',
 'sai Aakash',
 ['+ve',
  '-ve',
  '+ve',
  '-ve',
  '+ve',
  '+ve',
  '-ve',
  '-ve',
  '+ve',
  '+ve',
  '-ve',
  '+ve',
  '-ve']]

In [61]:
l4.index(3)

1

In [62]:
l4.index("apssdc")

3

In [63]:
l4[3]

'apssdc'

In [65]:
# insert - adding element at a particular position
l4.insert(3,"manish")

In [66]:
l4

[12,
 3,
 34.45,
 'manish',
 'apssdc',
 'sai Aakash',
 '+ve',
 '-ve',
 '+ve',
 '-ve',
 '+ve',
 '+ve',
 '-ve',
 '-ve',
 '+ve',
 '+ve',
 '-ve',
 '+ve',
 '-ve']

In [68]:
# pop - removing last element from the list, it returns removed element
l4.pop()

'+ve'

In [69]:
l4

[12,
 3,
 34.45,
 'manish',
 'apssdc',
 'sai Aakash',
 '+ve',
 '-ve',
 '+ve',
 '-ve',
 '+ve',
 '+ve',
 '-ve',
 '-ve',
 '+ve',
 '+ve',
 '-ve']

In [71]:
# remove - removes the particular value from the list
l4.remove("apssdc")

In [72]:
l4

[12,
 3,
 34.45,
 'manish',
 'sai Aakash',
 '+ve',
 '-ve',
 '+ve',
 '-ve',
 '+ve',
 '+ve',
 '-ve',
 '-ve',
 '+ve',
 '+ve',
 '-ve']

In [73]:
# reverse - reverse of a list
l4.reverse()

In [75]:
l4

['-ve',
 '+ve',
 '+ve',
 '-ve',
 '-ve',
 '+ve',
 '+ve',
 '-ve',
 '+ve',
 '-ve',
 '+ve',
 'sai Aakash',
 'manish',
 34.45,
 3,
 12]

In [76]:
l4[::-1]

[12,
 3,
 34.45,
 'manish',
 'sai Aakash',
 '+ve',
 '-ve',
 '+ve',
 '-ve',
 '+ve',
 '+ve',
 '-ve',
 '-ve',
 '+ve',
 '+ve',
 '-ve']

In [80]:
l6 = [12,3445,65,6,67,87,87,56,6]

In [81]:
l6.sort()

In [82]:
l6

[6, 6, 12, 56, 65, 67, 87, 87, 3445]

In [84]:
sorted(l6, reverse = False)

[6, 6, 12, 56, 65, 67, 87, 87, 3445]

In [85]:
sorted(l6, reverse = True)

[3445, 87, 87, 67, 65, 56, 12, 6, 6]

# Task
- Write a Python program to convert a list of characters into a string

input : ["i","am","very","good"]

output : "i am very good"

In [91]:
arr = ["i ","am ","very ","good "]
"".join(arr)

'i am very good '

In [92]:
sentence = ["i","am","very","good"]
sentence = ' '.join(sentence)
print(sentence)

i am very good

In [90]:
list1=['p','h','a','n','i']
str1="".join(list1)   
print(str1)

phani

In [93]:
my_list = ["Srm ", "University  ", "AP"]
my_string = "".join(my_list)
print(my_string)

Srm University  AP

# Task2
- Program to put even and odd elements in a list into two different lists

In [95]:
a=[1,2,3,4,5,6,7,8,9]
a = [12,32,34,45,3,23,2,12]
print(a[::2])
print(a[1::2])

[12, 34, 3, 2]
[32, 45, 23, 12]

In [99]:
nums = [7,3,3,0,6,5,4,2,4,9]
evens = []
odds = []

for i in nums:
    if i%2==0:
        evens.append(i)
    else:
        odds.append(i)

In [100]:
evens

[0, 6, 4, 2, 4]

In [101]:
odds

[7, 3, 3, 5, 9]

In [102]:
a=int(input("Enter the number of elements: "))
li=[]
eli=[]
oli=[]
for b in range(a):
    c=int(input("Enter a number: "))
    li.append(c)
for ele in range(len(li)):
    if ele%2==0:
        eli.append(ele)
    else:
        oli.append(ele)
        
print(eli)
print(oli)

Enter the number of elements: 7
Enter a number: 2
Enter a number: 1
Enter a number: 2
Enter a number: 3
Enter a number: 4
Enter a number: 5
Enter a number: 5
[0, 2, 4, 6]
[1, 3, 5]

In [103]:
l1 = [8,9,7,8,4,4,8,8,2,1]
leven = l1[::2]
lodd = l1[1::2]
print("Even Elements of l1: ",leven)
print("Odd Elements of l2: ",lodd)

Even Elements of l1:  [8, 7, 4, 8, 2]
Odd Elements of l2:  [9, 8, 4, 8, 1]

In [104]:
l=["i","am","a","good","girl"]
l[0]+' '+l[1]+' '+l[2]+' '+l[3]+' '+l[4]

'i am a good girl'

# Task3
- Write a Python program to remove duplicates from a list

In [105]:
nums = [2,1,7,2,4,5,9,9,8,3]
nums = set(nums)
nums = list(nums)
print(nums)

[1, 2, 3, 4, 5, 7, 8, 9]

In [107]:
a= int(input("Enter the number of elements: "))
li=[]
li2=[]
for b in range(a):
    c=input("Enter a number: ")
    li.append(c)
for ele in range(len(li)):
    if (ele not in li):
        li2.append(ele)
print(li2)

Enter the number of elements: 10
Enter a number: 12
Enter a number: 23
Enter a number: 2
Enter a number: 2
Enter a number: 2
Enter a number: 23
Enter a number: 4
Enter a number: 45
Enter a number: 34
Enter a number: 34
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [108]:
l1 = [1, 2, 3, 1, 2, 4, 5, 4 ,6, 2]
print("List Before ", l1)
temp_list = []
for i in l1:
    if i not in temp_list:
        temp_list.append(i)

l1 = temp_list

print("List After removing duplicates ", l1)

List Before  [1, 2, 3, 1, 2, 4, 5, 4, 6, 2]
List After removing duplicates  [1, 2, 3, 4, 5, 6]

In [113]:
a = [10,20,30,20,10,50,60,40,80,50,40] 
dup_items = set() 
uniq_items = [] 
for x in a:
       if x not in dup_items: 
            uniq_items.append(x)  
            dup_items.add(x)
print(dup_items)

{40, 10, 80, 50, 20, 60, 30}

In [114]:
ls = []

n = int(input("Enter the size of list "))
for i in range(n):
    print("Enter a value ")
    a = int(input())
    ls.append(a)

for i in range(len(ls)):
    j = i + 1
    while (j < len(ls)):
        if (ls[j] == ls[i]):
            del ls[j]
        j = j + 1
print(ls)

Enter the size of list 10
Enter a value
2
Enter a value
23
Enter a value
4
Enter a value
3
Enter a value
2
Enter a value
2
Enter a value
3
Enter a value
4
Enter a value
4
Enter a value

ValueError: invalid literal for int() with base 10: ''

In [115]:
list=[1,2,3,4,2,3,1]
l=[]
for i in list:
    if i not in l:
        l.append(i)
    else:
        print(i, end=' ')

2 3 1

# Task 4
- Write a Python program to check a list is empty or not.

In [120]:
arr = []
print("Empty" if len(arr) == 0 else "Not empty")

Empty

In [121]:
l1 = []
if len(l1) ==0:
    print("empty")
else:
    print("Not empty")

empty

# Task5
- Write a Python program to print a specified list after removing the 0th, 4th and 5th elements.

In [122]:
li=[1,23,3,4,5,6,7,8,9,0,2,21,27,12,14,18,4,6,8,1]
del li[0]
del li[4]
del li[5]
li

[23, 3, 4, 5, 7, 9, 0, 2, 21, 27, 12, 14, 18, 4, 6, 8, 1]

# do this  Task  at Home
- Write a Python function that takes two lists and returns True if they have at least one common member.

# List Comprehensions

- Shortest Program
- single line syntax
- to reduce our code length
- faster execution
- Syntax
    - [expression for items in iterables if condition == True]

In [123]:
# Write  a program to print squares of the value in between 1 to 20
li=[]
for i in range(1,21):
    li.append(i*i)
print(li)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [125]:
[i*i for i in range(1,21)]

[1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400]

In [126]:
# Create one list having different strings uppercase and lowercase data
# to print swapcase of the data in list
li = ["Venkat","abhNAV","Manish","Khan"]

[name.swapcase() for name in li]

['vENKAT', 'ABHnav', 'mANISH', 'kHAN']

In [127]:
[name.lower() for name in li]

['venkat', 'abhnav', 'manish', 'khan']

In [128]:
[name.upper() for name in li]

['VENKAT', 'ABHNAV', 'MANISH', 'KHAN']

In [129]:
li
# print a names having "h" letter
output: [Abhinav, khan, Manish]

['Venkat', 'abhNAV', 'Manish', 'Khan']

In [130]:
print([name for name in li if 'h' in name])

['abhNAV', 'Manish', 'Khan']

# Tuples

In [132]:
# tuple inialization
t = ()
type(t)

tuple

In [133]:
t = tuple()
type(t)

tuple

In [134]:
t = (34,456,56,324,34.456,"hi")

In [135]:
t

(34, 456, 56, 324, 34.456, 'hi')

In [137]:
t = (78,)

In [140]:
t = tuple((12,3,43,45)) # double tuple
type(t)

tuple

In [139]:
t

(12, 3, 43, 45)

In [141]:
t = tuple(24,3,657)
t

TypeError: tuple expected at most 1 argument, got 3

In [142]:
t = tuple()
t

()

In [143]:
len(t)

0

In [144]:
t1 = (23,34,45,657,67.4)
len(t1)

5

In [145]:
t1[3]

657

In [147]:
t1[::-1]

(67.4, 657, 45, 34, 23)

In [148]:
t1[::2]

(23, 45, 67.4)

In [149]:
t1[1::2]

(34, 657)

# Methods

In [150]:
t1.count(23)

1

In [151]:
t1.index(23)

0

In [152]:
t1

(23, 34, 45, 657, 67.4)

In [153]:
t2  = t1.copy()
t2

AttributeError: 'tuple' object has no attribute 'copy'

In [154]:
t2 = t1

In [155]:
t2

(23, 34, 45, 657, 67.4)

In [156]:
t1

(23, 34, 45, 657, 67.4)

In [157]:
id(t1)

1781367815840

In [158]:
id(t2)

1781367815840

In [159]:
del t2

In [160]:
t2

NameError: name 't2' is not defined

In [161]:
# Pack  - assigning values to variable
t3 = ("Aakash","lavanya","Mounica","niha")

In [162]:
# unpack - to extract the values to variable 
(n1,n2,n3,n4)  = t3

In [163]:
n1

'Aakash'

In [164]:
n4

'niha'

In [165]:
t5 = ("saketh","sai","khan","abhinav","mercy","grace","nitesh")
(n1,n2,n3,n4) = t5

ValueError: too many values to unpack (expected 4)

In [170]:
len(t5)

7

In [166]:
(n1,n2,n3,*n4) = t5
# it takes entire data as a list

In [167]:
n1

'saketh'

In [168]:
n3

'khan'

In [169]:
n4

['abhinav', 'mercy', 'grace', 'nitesh']

In [171]:
t5

('saketh', 'sai', 'khan', 'abhinav', 'mercy', 'grace', 'nitesh')

In [172]:
(n1,*n2,n3,n4) = t5
n4

'nitesh'

In [173]:
n2

['sai', 'khan', 'abhinav', 'mercy']

In [174]:
(*n1,*n2,n3,n4) = t5

SyntaxError: two starred expressions in assignment (<ipython-input-174-7f0265ab8ebc>, line 1)

In [175]:
(*n1,n2,n3,n4) = t5

In [176]:
n1

['saketh', 'sai', 'khan', 'abhinav']

In [177]:
n4

'nitesh'

# Task6
- Write a program to remove duplicates and print tuple except last value
- input : ("a","b","c","b","a")
- output  : ("a","b")

In [184]:
t = ("a","b","c","b","a")
t1  = []
for i in t:
    if i not in t1:
        t1.append(i)
tuple(t1[:-1])

('a', 'b')

# Task 7
- write a program to replace element by given element

input : ("hi","hello","Sorry","bye")

element : Sorry

new Element : Good

ouput : ("hi","hello","Good","bye")

In [1]:
i = ("hi","hello","Sorry","bye")
li = list(i)
i.replace("Sorry","Good")

AttributeError: 'tuple' object has no attribute 'replace'

In [2]:
list(i)

['hi', 'hello', 'Sorry', 'bye']

In [3]:
a=('hi','hello','sorry','bye')
b=list(a)
b[2]='Good'
tuple(b)

('hi', 'hello', 'Good', 'bye')

In [4]:
b.replace("sorry","Good")

AttributeError: 'list' object has no attribute 'replace'

In [8]:
b[b.index("Good")] = "BAD"

In [9]:
b

['hi', 'hello', 'BAD', 'bye']

In [13]:
t4 = (123,34,45,567,68,54,45)
t2 = (345,46, 576, 878)

In [14]:
# merge/ joining two tuples
t5 = t4+t2
t5

(123, 34, 45, 567, 68, 54, 45, 345, 46, 576, 878)

In [15]:
t2

(345, 46, 576, 878)

In [16]:
t2 +t2

(345, 46, 576, 878, 345, 46, 576, 878)

In [17]:
t2*2

(345, 46, 576, 878, 345, 46, 576, 878)