## Today Content
- Comprehensions
- lambda
- map()
- filter()

### Comprehension
- Shorter syntax
    - List Comprehension
    - DIctionary Comprehension
    - Tuple Comprehension
    - Set Comprehension

#### List Comprehension
- List comprehension ca create one new list from other iterables
- Syntax
    - [statement___for(loop)  ___if(condition) else statement]

In [1]:
## Generate natural numbers in range of 1 to 10
list1 = []
for i in range(1,11): # for Loop
    list1.append(i)  # statement
    
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [2]:
# [statement  for(loop)]

[i for i in range(1,11)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
## Even number or not
number = 2766
if number%2 == 0:
    print('Even Number')
else:
    print('Odd Number')

Even Number

In [6]:
number = 2766
['Even Number' if  number%2 == 0 else 'Odd Number']

['Even Number']

In [10]:
# Find all the odd numbers in range 10, 30

for i in range(10, 31):
    if i%2 != 0:
        print(i,end=' ')

11 13 15 17 19 21 23 25 27 29

In [11]:
[i for i in range(10,31) if i%2 != 0]
# [Statement  for(loop)   if(condition)]

[11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

In [ ]:
# Print even or odd in range(10,30) using list comprehension
# o/p --> ['Odd','Even'...]

In [12]:
['Odd' if i%2 != 0 else 'Even' for i in range(10,30)]
# [Statement  if(condition)  else statement  for(loop)]

['Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd']

In [14]:
def odd(n):
    if n%2 != 0:
        return n
    
[i for i in range(10,30) if odd(i)]

[11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

In [16]:
## Prime number program in range( 1 to 100) using list comprehensions

def prime(n):
    count = 0
    for i in range(1,101):
        if n%i == 0:
            count = count + 1
    if count == 2:
        return n

print([i for i in range(1,101) if prime(i)])

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [18]:
## If...elif...else in List comprehensions
list2 = []

for number in range(1, 25):
    if number%5 == 0:
        list2.append(number)
    elif number%7 == 0:
        list2.append('Divisible by 7')
    else:
        list2.append('Number')
        
list2

['Number',
 'Number',
 'Number',
 'Number',
 5,
 'Number',
 'Divisible by 7',
 'Number',
 'Number',
 10,
 'Number',
 'Number',
 'Number',
 'Divisible by 7',
 15,
 'Number',
 'Number',
 'Number',
 'Number',
 20,
 'Divisible by 7',
 'Number',
 'Number',
 'Number']

In [20]:
print([number if number%5 == 0 
 else 'Divisible by 7' if number%7 == 0 
 else 'Number' for number in range(1, 25)])

['Number', 'Number', 'Number', 'Number', 5, 'Number', 'Divisible by 7', 'Number', 'Number', 10, 'Number', 'Number', 'Number', 'Divisible by 7', 15, 'Number', 'Number', 'Number', 'Number', 20, 'Divisible by 7', 'Number', 'Number', 'Number']

#### Task1: Take a list of years between 1800 to 2030
- Display all the leap year which is divisible by 5

In [23]:
2015 % 5 == 0
2024 % 5 == 0

False

In [25]:
paragraph = '''Coronavirus India News Live Update: India reports 60,753 fresh Covid cases, 
            slightly lesser than yesterday, daily deaths remain below 2K'''

In [27]:
vowels1 = []
vowels2 = ['a','e','i','o','u']

for s in paragraph:
    for w in s:
        #print(w)
        if w in vowels2:
            vowels1.append(w)
            
print(vowels1)

['o', 'o', 'a', 'i', 'u', 'i', 'a', 'e', 'i', 'e', 'a', 'e', 'i', 'a', 'e', 'o', 'e', 'o', 'i', 'a', 'e', 'i', 'e', 'e', 'a', 'e', 'e', 'a', 'a', 'i', 'e', 'a', 'e', 'a', 'i', 'e', 'o']

In [29]:
print([w for s in paragraph for w in s if w in vowels2])

['o', 'o', 'a', 'i', 'u', 'i', 'a', 'e', 'i', 'e', 'a', 'e', 'i', 'a', 'e', 'o', 'e', 'o', 'i', 'a', 'e', 'i', 'e', 'e', 'a', 'e', 'e', 'a', 'a', 'i', 'e', 'a', 'e', 'a', 'i', 'e', 'o']

### Dictionary Comprehension
- {key:value ___for(loop) ___ if(condition)

In [32]:
dict1 = {'a' : 200,'b':345,'c':'DataScience','d':80.9}

d1 = {}
for key,value in dict1.items():
    d1[key] = value*3
    
d1

{'a': 600,
 'b': 1035,
 'c': 'DataScienceDataScienceDataScience',
 'd': 242.70000000000002}

In [31]:
dict1['b']

345

In [33]:
# Write above program using Dictionary comprehensions
{key:value*3 for (key,value) in dict1.items()}

{'a': 600,
 'b': 1035,
 'c': 'DataScienceDataScienceDataScience',
 'd': 242.70000000000002}

In [34]:
dict1

{'a': 200, 'b': 345, 'c': 'DataScience', 'd': 80.9}

In [35]:
d2 = {}
for key,value in dict1.items():
    if type(value) == int:
        d2[key] = value*3
        
d2

{'a': 600, 'b': 1035}

In [36]:
{key:value*3 for (key,value) in dict1.items() if type(value) == int}

{'a': 600, 'b': 1035}

### Lambda
- Create a small function
- Anonymous function
    - **Syntax:** Lambda arg1,ar2..  : statement

In [37]:
add1 = 10 + 20
add1

30

In [38]:
type(add1)

int

In [39]:
def add2(x,y):
    print(x + y)
add2(10,20)

30

In [40]:
type(add2)

function

In [43]:
add2

In [44]:
lambda x,y : x + y ## Lambda itself returns functional object

In [45]:
add3 = lambda x,y : x + y

In [46]:
add3

In [47]:
add3(10,20)

30

In [ ]:
# 4**3

#### if..else using Lambda

In [49]:
def value(x):
    if x>10 and x<20:
        return True
    else:
        return False
value(11)

True

In [50]:
value(22)

False

In [51]:
value2 = lambda x : True if(x>10 and x<20) else False
value2(22)

False

In [52]:
value2(15)

True

In [53]:
## Without if..else keyword using Lambda

value3 = lambda x2 : (x2>10 and x2<20)

In [54]:
value3(12)

True

In [55]:
value3(77)

False

### map()
- map() will take functions as parameters
    - **syntax:** map(function, iterable1, iterable2...)

In [56]:
# list = [1,2,3,4]
# o/p = [1,4,9,16]

In [57]:
def multiple(a):
    return a*a

for i in [1,2,3,4]:
    print(multiple(i))

1
4
9
16

In [58]:
map(multiple, [1,2,3,4])

In [59]:
list(map(multiple, [1,2,3,4]))### Here multiple is a Parameter inside map()
##  map(function,    iterable)

[1, 4, 9, 16]

In [63]:
students = ['Tarun','Chandana','Manish']
set(map(str.upper, students))

{'CHANDANA', 'MANISH', 'TARUN'}

In [60]:
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [61]:
'Tarun'.upper()

'TARUN'

#### map() using lambda

In [64]:
list(map(lambda x : x**3, [1,2,3,4]))
#   map(  function      ,    iterable)

[1, 8, 27, 64]

In [65]:
## list = [1,2,3,4,5,6,7,8,9]
## o/p--> [1,3,5,7,9]

In [66]:
list(map(lambda x : x%2 != 0, [1,2,3,4,5,6,7,8,9]))

[True, False, True, False, True, False, True, False, True]

### filter()
- Syntax: filter(function, iterable1, iterable2,..)

In [67]:
list(filter(lambda x : x%2 != 0, [1,2,3,4,5,6,7,8,9]))

[1, 3, 5, 7, 9]